main { 
  margin-bottom: 15px; 
  max-width: 850px;
}

/*.list {
  display: flex;
  flex-wrap: wrap;
}*/

.list section {
  flex: 1 0 350px;
  box-sizing: border-box;
  box-shadow: 0 0 3px #ccc;
  margin: 1em 0 0 15px;
  padding: 1em;
  overflow-x: hidden;
}

/*@media (max-width: 380px) {
  .list section { flex: auto; }
}

@media (min-width: 715px) {
  .article-list h1 {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .article-list h1:hover { white-space: inherit; }
}
*/
.article-list a, .banner a { 
  color: #000; 
}

.categories {
  text-align: left;
}

.categories a {
  font-size: .9em;
  font-weight: bolder;
  text-transform: uppercase;
  color: #666;
}

/*************************************************
 *  Publication & thumbnail in one row
 **************************************************/

/*.cv-row {
    margin: 0 auto;
    padding: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}*/

.column {
    float: left;
}

.left {
    width: 83%;
    margin-right: 2%;
}

.right {
    width: 15%;
}

/* Clear floats after the columns */
.cv-row:after {
    content: "";
    display: table;
    clear: both;
}

.pub-body { 
  text-align: left;
}

/* Responsive layout:
    makes the two columns stack on top of each other 
    instead of next to each other */
@media (max-width: 700px) {
  .column {
      width: 100%;
  }
}

.date-author > .author {
    color: #808080;
    font-size: 100%;
}

.date-author > p .place + .date::before {
    content: '—';
    margin-right: 6px;
}

.thumbnail {
  height: 6.1em;
  width: 6.8em;
  float: left;
  overflow: hidden;
  margin: 5% 0 0 10%;  /* 5px 5px 5px 10px;*/
  box-shadow: 0 0 8px #666;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*************************************************
 *  Button size override
 *************************************************/

.btn {
  padding: .5rem;
  font-size: .6rem;
  line-height: .5;
  border-radius: .3rem;
}

.btn.btn-sm {
  padding: .6rem;
  font-size: 1.2rem;
  border-radius: .4rem;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;    
}

/*************************************************
 *  Button Primary: Color override
 **************************************************/

.btn.btn-outline-primary {
  border-color: red;
  color: red;
}

.btn.btn-outline-primary:hover {
  color: white;
  background-color: red;
  border-color: red;
}

/* Other stuff */

h1 a:hover { text-decoration: underline; }
.article-list h1 { margin: .2em auto .2em 0; }
article { padding: 1em; }
.article-meta {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}

.menu, .article-meta, footer, .post-nav { text-align: center; }
.article-footer { text-align: left; }
.title { font-size: 1.2em; }
.article-list h1, .title { line-height: 1.2em; }
.article-list a, .header a, footer a, .categories a, .active a, .comments a { text-decoration: none; }
.pagination { text-align: center; }
.pagination li, .terms li { display: inline; }
.pagination a { padding: 0 .2em; }
.footer {
  background: #666;
  padding: 1em 0;
}

.menu {
  margin-bottom: .5em;
  flex-wrap: wrap;
}
.menu li {
  display: inline-block;
  font-weight: bolder;
}
.menu a { padding: .5em; }
.menu a:hover {
  color: #000;
  background: #fff;
}

hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code {
  background: none;
  padding: .5em;
  display: block;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: 1em auto auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }